parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    editorUrlTitle: '%%relFile%%:%%line%%'
    silverstan:
        disallowMethodCallOnUnsafeDataObject:
            enabled: false
        disallowNewInstanceOnInjectable:
            enabled: true
        disallowOverridingOfConfigurationPropertyType:
            enabled: true
        disallowPropertyFetchOnConfigForClass:
            enabled: true
        disallowPropertyFetchOnUnsafeDataObject:
            enabled: false
        disallowStaticPropertyFetchOnConfigurationProperty:
            enabled: true
        requireParentCallInOverridenMethod:
            enabled: true
            classes:
                -
                    class: SilverStripe\ORM\DataObject
                    method: onBeforeWrite
                -
                    class: SilverStripe\ORM\DataObject
                    method: onAfterWrite
    paths:
        - src
